<html lang='fr'>
   <head>
      <meta charset='UTF-8' />

      <style>
         .text { padding: 0; margin: 0; white-space: pre-wrap; height: 18px; }
      </style>
      <title></title>
   </head>
   <body>
      <div>
         <h3>Bonjour {{prenom}} {{nom}} </h3>

         <p>Votre compte sur la plateforme datalumini d'Aflokkat a été créé par notre équipe.</p>

         <div>
            <h4 class='text'>Vos identifiants sont :</h4>
            <p class='text'>Login: {{email}}</p>
            <p class='text'>Password: {{password}}</p>
         </div>

         <p>Nous vous conseillons de changer le password</p>

         <div>
            <p class='text'>Pour profiter de notre service,</p>
            <p class='text'>Rendez-vous sur notre site {{domaine}}</p>
         </div>
      </div>
   </body>
</html>